body {
    text-align: center;
}

#wrapper {
	max-width: 900px;
    text-align: center;
    margin-left: 20px;
}

.notCalcDiv {
	display: none;
    padding: 20px;
    text-align: right;
    width: 260px;
    margin: 10px 0px 15px 150px;
    font-family: sans-serif;
    max-width: 260px;
}

#display, #calcButtons {
    border: #00bfff 2px solid;
    width: 300px;
    margin: 10px 50px 15px 150px;
    text-align: right;
    font-family: sans-serif;
}

#calcButtons {
	margin-top: 5px;
    border: 0;
}

#dispValue {
	margin: 5px 10px 5px 0;
    font-size: 50px;
    font-weight: bold;
}

#dispValue2 {
    line-height: 1.25;
    min-height: 1.25em;
    margin: 0;
    padding: 5px 0 2px 8px;
    text-align: left;
    background-color: #00bfff;
    color: #fff;
}

.calcButton, .menuButton {
    padding: 0;
    margin: 0 8px 8px 0;
    width: 69px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.factorButton {
    margin-top: 15px; 
}

.BUTTON {
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    background-color: #00bfff;
    border-radius: 2px;
    border: 0px;
}

.BUTTON:hover {
	background-color: #a9a9a9;
}

.BUTTON:focus, .BUTTON:active {
	outline: 0;
}

.endButton {
    margin-right: 0;
}

.clearFix {
    overflow: auto;
}

#menu {
    float: left;
    margin: 10px 10px 15px 0px;
    text-align: center;
    max-width: 100px;
    position: fixed;
}

.menuButton {
    width: 100px;
    font-size: 15px;
    border-radius: 0px;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
}

.inputBox {
    background-color: #a9a9a9;
    color: #fff;
    text-align: right;
    padding: 5px 10px;
    outline: 0;
    font-size: 20px;
    border: 0px;
    margin-bottom: 15px;
}

.justifyPara {
    text-align: justify;
}

#factorOutput {
	text-align: left;
}

.noBullets {
    list-style-type: none;
}

.smallHeading {
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

.baseConversionButton {
	font-size: 15px;
    border-radius: 0px;
    margin-bottom: 5px;
    width: 100px;
}

#baseConversionCalc {
	text-align: center;
}

.blackBackground {
    background-color: #000;
}

.noPadding {
    padding: 0px;
}

.inlineBlock {
    display: inline-block;
    clear: both;
}

#outputBaseOption {
    text-align: center;
    margin-left: 25px;
}

.widgetHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.selected {
    background-color: #008eff;
    color: #000;
    font-weight: bold;
}

#appHeader {
	max-width: 900px;
    text-align: center;
    background-color: #00bfff;
    margin: 10px 0px 0px 20px;
    color: #fff;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
}

#appHeader p {
	border-top: white 5px solid;
    border-bottom: white 5px solid;
    display: inline-block;
}

#scribbleDiv {
    position: fixed;
	border: #00bfff 2px solid;
    width: 393px;
    top: 140px;
    margin-left: 502px;
    height: 400px;
    float: left;
    background-color: #f0f0f0;
}

#masterWrapper {
	max-width: 920px;
    margin: auto;
}

.paletteColor {
    width: 10px;
    height: 10px;
    background-color: black;
}

#fractionOperations {
	text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}

#fractionInputWrapper {
    width: 55%;
    max-width: 60%;
    border-right: 1px solid #999;
    padding-right: 10px;
}

#fractionOutputWrapper {
    width: 40%;
    max-width: 40%;
}

#fraction1, #fraction2 {
    max-width: 80%;
}

.floatLeft {
    float: left;
}

#fractionsCalcBtn {
    margin-top: 20px;
}